*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  /* shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
  font-size: 45px;
  font-weight: 900px;
}

.color_orange{
  color: #FD6E0A;
}

.btn{
  background-color: #FD6E0A;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  padding: 18.28px 35px 19.3px 36px;
  cursor: pointer;
}

.section-heading{
  max-width: 827px;
  text-align: center;
  margin: 0 auto;
}

.section-heading h3 , h2{
 font-size: 35px;
 font-weight: bold;
 margin-bottom: 30px;
}

.section-heading p{
 font-size: 18px;
 line-height: 30px;
 color: #757575;
 margin-bottom: 30px;
}


  /* main style */
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}

nav{
  width: 71.25%;
  max-width: 1140px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .menu{
  display: flex;
  gap: 51px;
  list-style-type: none;
  align-items: center;
}
nav .menu a{
  font-size: 20px;
  color: #474747;
  text-decoration: none;
}

.banar{
  margin: 46px 38px 0px 238px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banar .banar-content{
  max-width: 585px;
}


.banar .banar-content h2{
  font-size: 45px;
  color: #474747f0;
  font-weight: 600;
  margin-bottom: 5px;
}

.banar .banar-content h1{
  font-size: 85px;
  font-weight: 700;
  color: #050505fc;
  margin-bottom: 20px;
}

.banar .banar-content p{
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  
}
.banar .banar-img img{
  max-width: 584px;
  vertical-align: middle;
}

#about,#skills,#resume{
  padding-top: 130px;
}

#about .about-container{
  background-color: #FFF8F3;
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  padding: 131px 156px;
}

#about .about-container .about-info{
  display: flex;
  justify-content: space-around;
}
.about-info .info-card p{
  font-size: 20px;
 line-height: 30px;
 color: #757575;
}

.about-info .info-card h4{
  font-size: 20px;
}
#skills .skills-container{
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
}

#skills .skills-container .skills-card{
  display: flex;
  justify-content: space-between;
  gap: 24px;
  
}

.skills-card .card-info{
  padding: 30px;
  max-width: 267px;
  box-shadow: 0px 6px 50px 0px #0000002b;
}

.card-info img{
  max-width: 44px;
  margin-bottom: 30px;
}
.card-info h3{
  font-size: 20px;
  color: #181818;
  margin-bottom: 20px;
}
.card-info p{
  font-size: 16px;
  line-height: 28px;
  color: #757575;
}

#resume .resume-container{
  width: 71%;
  max-width: 1140px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-top: 130px;
}
.resume-container h3{
  font-size: 30px;
  font-weight: bold;
  color: #474747;
}
 .cards h4{
  font-size: 25px;
  font-weight: bold;
  color: #474747;
  margin-bottom: 10px;
  margin-top: 30px;
}
.cards h5{
  font-size: 20px;
  font-weight: 600;
  color:#757575;
  margin-bottom: 20px;
}
.cards p{
  font-size: 16px;
  line-height: 28px;
  color:#757575;
  margin-bottom: 30px;
  margin-right: 47px;
}

.cv{
  text-align: center;
  margin-top: 50px;
}



